.whitecolor{
    background-color: #fff;
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
    height: 310px;
    padding-top: 40px;
}
.whitecolor h4{
    line-height: 25px;
}

.thumbnail{
    border: none;
}
.productslider p{
    font-size: 16px;
    font-weight: bold;
    color: #817e7e
}
.notify{
    border: none;
    width: 100%;
    background-color: #e0e0ee;
    color: #000;
    padding: 10px 15px 10px 15px;
}
.addcart{
    border: none;
    width: 100%;
    background-color: #e42d05;
    color: #fff;
    padding: 10px 15px 10px 15px;
}
.addcart:hover, .notify:hover{
    text-decoration: underline;
}
.productslider{
    padding: 20px 0 20px 0;
}