<!-- menu do site -->
        <nav class="navbar navbar-expand-sm   navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Página Inicial <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carrinho">Carrinho </a>
                    </li>

                    <li class="nav-item dropdown dmenu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Produtos
                        </a>
                        <div class="dropdown-menu sm-menu">
                            <a class="dropdown-item" href="/produtos">Todos os Produtos</a>
                            <a class="dropdown-item" href="/produtos?cat=tapiocas">Tapiocas</a>
                            <a class="dropdown-item" href="/produtos?cat=bebidas">Bebidas</a>
                        </div>
                    </li>
                    {% if not g.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/entrar">Entrar</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/cadastrar">Cadastrar</a>
                    </li>
                    {% else %}
                    {% if g.user[7] > 0 %}
                    <li class="nav-item">
                        <a class="nav-link" href="/add-produto">Adicionar Produto</a>
                    </li>

                    <li class="nav-item dropdown dmenu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Dashboard
                        </a>
                        <div class="dropdown-menu sm-menu">
                            <a class="dropdown-item" href="/dashboard?q=item">Por Itens</a>
                            <a class="dropdown-item" href="/dashboard?q=valor">Por Valor</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/sair">Sair</a>
                    </li>
                    {% endif %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>  